@page "/SupplementList"
@inherits SupplementCatalog.web.Pages.Base.SupplementListBase


<h3>Supplement List</h3>


@if (DisplayCardLayout)
{
<SupplementCardLayout />
}
else
{
    //SUpplementListLayout Component
}